<div class="container" style="max-width: 1200px;">
  <div class="card shadow-sm">
    <div class="card-body">
      <h4 class="mb-3">Friend Requests</h4>

      <% if @friend_requests.any? %>
      <% @friend_requests.each do |request| %>
        <div class="d-flex align-items-center mb-3 p-2 border-bottom">
          <div class="me-3">
            <% if request.followerable.avatar.attached? %>
              <img src="<%= url_for(request.followerable.avatar) %>" alt="Profile Picture" class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover;">
            <% else %>
              <img src="/assets/avatar/default_avatar.png" alt="Default Avatar" class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover;">
            <% end %>
          </div>
          <div class="flex-grow-1">
            <h6 class="mb-1"><%= link_to "#{request.followerable.first_name} #{request.followerable.last_name}", home_path(request.followerable.id), class: 'me-3', style: 'color: black; text-decoration: none;' %></h6>
            <small class="text-muted"><%= request.followerable.email %></small>
          </div>
          <div class="d-flex">
            <%= button_to "Confirm", accept_path(request.followerable), class: "btn btn-primary btn-sm me-2" %>
            <%= button_to "Delete", decline_path(request.followerable), class: "btn btn-secondary btn-sm" %>
          </div>
        </div>
      <% end %>
      <% else %>
        <p>You have no friend.</p>
      <% end %>
    </div>
  </div>
</div>

<br>

<div class="d-flex justify-content-center">
    <% if @pagy.pages > 1 %>
        <%== pagy_bootstrap_nav(@pagy) %>
    <% end %>
</div>

