<!-- searching for user -->
<% if @matching_users %>
<div class="container mt-4"  style="max-width: 1000px; width: 100%;">
  <div class="user-list">
    <% @matching_users.each do |user| %>
     <%= link_to home_path(user.id), class: "text-decoration-none" do %>
        <div class="card mb-2">
          <div class="card-body">
            <div class="d-flex align-items-center mb-2">
              <% if user.avatar.attached? %>
                <img id="profile_picture_preview" src="<%= url_for(user.avatar) %>" alt="Image Preview" class="rounded-circle img-fluid" style="max-width: 50px; max-height: 50px;" />
              <% else %>
                <img id="profile_picture_preview" src="/assets/avatar/default_avatar.png" alt="Default Avatar" class="rounded-circle img-fluid" style="max-width: 50px; max-height: 50px;" />
              <% end %>
              <h5 class="mb-0 ms-2"><%= user.first_name %> <%= user.last_name %></h5>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>
<% end %>

<!-- displaying post -->
<% @posts.each do |post| %>
    <div class="container mt-4"  style="max-width: 1000px; width: 100%;">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                    <%= link_to home_path(post.user.id), class: "text-decoration-none d-flex align-items-center" do %>
                    <% if post.user.avatar.attached? %>
                        <img id="profile_picture_preview" src="<%= url_for(post.user.avatar) %>" alt="Image Preview" class="rounded-circle img-fluid" style="max-width: 50px; max-height: 50px;" />
                    <% else %>
                        <img id="profile_picture_preview" src="/assets/avatar/default_avatar.png" alt="Default Avatar" class="rounded-circle img-fluid" style="max-width: 50px; max-height: 50px;" />
                    <% end %>
                  <div class="time-item">
                      <h5 class="mb-0 ms-2 " style="color:black"><%= post.user.first_name %> <%= post.user.last_name %></h5>
                      <% if post.created_at > 24.hours.ago %>
                        <span class="small text-muted ms-2"><%= time_ago_in_words(post.created_at) %> ago</span>
                      <% else %>
                        <span class="small text-muted ms-2"><%= post.created_at.strftime("%B %d, %Y at %I:%M %p") %></span>
                      <% end %>
                  </div>
                    <% end %>
                </div>
          

                <p><%= post.body %></p>

                <% if post.media.attached? %>
                    <div class="media-preview-box mb-2" style=" padding: 10px; width: 300px; height: 300px; overflow: hidden; display: flex; align-items: center; justify-content: center; margin: 0 auto;">
                        <div class="photos-preview-box" style="display: flex; gap: 10px; flex-wrap: wrap;">
                        <% if post.media.content_type.starts_with?('video') %>
                            <div style="position: relative; width: 300px; height: 300px;">
                            <video controls style="width: 100%; height: 100%; object-fit: contain;">
                                <source src="<%= url_for(post.media) %>" type="<%= post.media.content_type %>">
                            </video>
                            </div>
                        <% elsif post.media.content_type.starts_with?('image') %>
                            <div style="position: relative; width: 300px; height: 300px;">
                            <%= image_tag url_for(post.media), style: "width: 100%; height: 100%; object-fit: contain;" %>
                            </div>
                        <% end %>
                        </div>
                    </div>
                <% end %>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                      <% like = current_user.likes.find_by(post: post) %>

                      <% if like.nil? %>
                          <%= button_to likes_path(like: { post_id: post.id }), method: :post, class: "btn btn-outline-dark me-2" do %>
                              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like
                          <% end %>
                      <% else %>
                          <%= button_to destroy_likes_path(like), method: :post, class: "btn btn-dark me-2" do %>
                              <i class="fa fa-thumbs-up" aria-hidden="true"></i> Liked
                          <% end %>
                      <% end %>

                      <p class="mb-0"><%= post.likes.count %> likes</p>
                  </div>

                  <%= link_to "Show", post, class: "btn btn-outline-dark" %>
              </div>

            </div>
        </div>
    </div>
<% end %>
<br>
<div class="d-flex justify-content-center">
    <% if @pagy.pages > 1 %>
        <%== pagy_bootstrap_nav(@pagy) %>
    <% end %>
</div>
